
body {
    background-image: url('../assets/image/groot_fundo_google.jpg')
}
#container{
    background-color: rgba(216, 189, 139, 0.89) !important;
    border-radius: 4%;

}
h3 {
color:  rgb(136, 71, 15);
}

#button{
width: 100%;
padding: 8px;
margin-top: 5px;
border: 1px solid;
border-color: rgb(49, 66, 49);
background-color: rgb(129, 160, 129);
border-radius: 8px;
}

#navbar {
 display:flex;
justify-content: space-between;
align-items: center;
padding: 5px;
background-color: rgb(105, 12, 12);
color: rgb(245, 220, 220);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}