#pagina_login {
    background-image: url('../assets/image/groot_fundo_google.jpg')
}
#pagina_principal{
     background-color: rgba(177, 184, 144, 0.89);

}
#pagina_historia{
    background-color: rgba(177, 184, 144, 0.89); 
}
#container{
    background-color: rgba(240, 202, 146, 0.89) !important;
    border-radius: 4%;

}
h3 {
color:  rgb(136, 71, 15);
}

#button{
width: 100%;
padding: 8px;
margin-top: 5px;
border: 1px solid;
border-color: rgb(49, 66, 49);
background-color: rgb(129, 160, 129);
border-radius: 8px;
}

#navbar {
display:flex;
justify-content: space-between;
align-items: center;
padding: 5px;
background-color: rgba(72, 75, 58, 0.89);
color: rgb(245, 220, 220);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon{
    width: 100px;
    height: 50px;
}

#links {
    list-style: none;
  }

li {
    margin-right: 15px;
    text-decoration: none;
}
#home{
align-items: center;
text-align: center;
color: rgb(62, 82, 64);
}

p{
text-align: center;
line-height: 1.6;
font-size: 16px;
max-width: 700px;
margin: 0 auto 20px auto;
}

h4{
text-align: center;
line-height: 1.6;
font-size: 16px;
max-width: 700px;
margin: 0 auto 20px auto;
}

#trajetoria{

align-items: center;
text-align: center;
color: rgb(62, 82, 64);
 background-color: rgba(177, 184, 144, 0.89); 
}   

#historia{
align-items: center;
text-align: center;
color: rgb(62, 82, 64);

}
